body {
  padding-top: 59px;
  padding-bottom: 30px;
  font-family: 'Roboto';
}

h1 {
	font-family: 'Prosto One';
}

.navbar-inverse .navbar-brand {
	color: black;
}

.navbar-brand {
	font-family: 'Prosto One'; 
	font-size :22px;
	text-decoration: none !important;
	
}

h2, h3, h4, h5, h6 {
	font-family: 'Sarala';
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
    margin-top: 0px;
	margin-bottom: 0px;
    background-image: url(/img/jumbo-back.JPG);
    background-position: 0% 25%;
    background-size: cover;
    background-color: #6279A9;
    color: white;
    background-repeat: no-repeat;
}


a {
   color: #006fc6;
   text-decoration: none;
  }

.side-div {
  color: red;
}

.side-footer {
	color: black;
}

.post-summary {
   padding-top: 15px;
   padding-bottom: 15px;
   size: 150%;
      
}

.footer{
   background: #edf3f8;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
}

.side-banner {
	color: red;
	background: pink;
	background-color: #edf3f8 !important;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
}

.showcase-item{
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
   
   margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
   
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
}

.navbar-inverse {
	/*background-color: #396a93;*/
	background-color: white;
	color: black !important;
	padding-left: 60px;
}


.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .navbar-brand:hover {
	background-color: #1967be;
	
	
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}




.img-container{
   margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
   
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #333333;
    background-color: #f2f2f2;
    border-radius: 4px;
	font-family: "Ubuntu Mono";
	
}

pre code{
  white-space: pre;
  font-family: "Ubuntu Mono";
}


