body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(/img/jumbo-back.jpg);
    background-position: 0% 25%;
    background-size: cover;
    color: #CCFF33;
    background-repeat: no-repeat;
    text-shadow: black 0.3em 0.3em 0.3em;
}

a {
color: #CCCC00;
}