_site/

*Thumbs.db
.DS_Store

.Rproj.user
.Rhistory

*.dcf
*.svg
*.giv
*.gif
*.png

!0013-data-types-1.PNG
!*screenshot*

_working/tmp.rda
_working/fort.6*
_working/_output/0015-silver-sankey/
_working/_output/0026_random_forest/
*wdi.rda
_working/*.RData