<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			  <meta name = "viewport" content ="width = device-width, initial-scale = 1.0">
          <meta name ="description" content ="{{ site.description }}">
          <link href="/css/bootstrap.css" rel ="stylesheet">
          <style>
            body {
            padding-top: 60px;
            }
            </style>
            <link href="/css/bootstrap-responsive.css" rel="stylesheet">
         
         
         
		</head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="http://ellisp.github.io">Stats in the wild</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="/"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="">
			<a href="/about"><i class="icon-user"></i>About</a>
				
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
               <li>A
               <li>B
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>
  
  