
.reveal .slide-logo {
  height: 117px !important;
  width: 289px!important;
  max-width: unset !important;
  max-height: unset !important;
  z-index: 999;
  top: 0;
}

.reveal .slide-background-content {
  background-position: 0% 50%;
}
